<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="eventoOperacional">
            <h2><span jhiTranslate="gatewayApp.sgqEventoOperacional.detail.title">Evento Operacional</span> {{eventoOperacional.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqEventoOperacional.idUsuarioRegistro">Id Usuario Registro</span></dt>
                <dd>
                    <span>{{eventoOperacional.idUsuarioRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqEventoOperacional.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.TipoEventoOperacional.' + eventoOperacional.tipo}}">{{eventoOperacional.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqEventoOperacional.titulo">Titulo</span></dt>
                <dd>
                    <span>{{eventoOperacional.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqEventoOperacional.descricao">Descricao</span></dt>
                <dd>
                    <span>{{eventoOperacional.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqEventoOperacional.dataEvento">Data Evento</span></dt>
                <dd>
                    <span>{{eventoOperacional.dataEvento}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqEventoOperacional.duracao">Duracao</span></dt>
                <dd>
                    <span>{{eventoOperacional.duracao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqEventoOperacional.houveParadaProducao">Houve Parada Producao</span></dt>
                <dd>
                    <span>{{eventoOperacional.houveParadaProducao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqEventoOperacional.processo">Processo</span></dt>
                <dd>
                    <div *ngIf="eventoOperacional.processo">
                        <a [routerLink]="['/processo', eventoOperacional.processo?.id, 'view']">{{eventoOperacional.processo?.titulo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/evento-operacional', eventoOperacional.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
