<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="planoAuditoria">
            <h2><span jhiTranslate="gatewayApp.sgqPlanoAuditoria.detail.title">Plano Auditoria</span> {{planoAuditoria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqPlanoAuditoria.titulo">Titulo</span></dt>
                <dd>
                    <span>{{planoAuditoria.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPlanoAuditoria.descricao">Descricao</span></dt>
                <dd>
                    <span>{{planoAuditoria.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPlanoAuditoria.habilitado">Habilitado</span></dt>
                <dd>
                    <span>{{planoAuditoria.habilitado}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPlanoAuditoria.anexo">Anexo</span></dt>
                <dd>
                    <span *ngFor="let anexo of planoAuditoria.anexos; let last = last">
                        <a [routerLink]="['/anexo', anexo?.id, 'view' ]">{{anexo.nomeArquivo}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/plano-auditoria', planoAuditoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
