<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="anexo">
            <h2><span jhiTranslate="gatewayApp.sgqAnexo.detail.title">Anexo</span> {{anexo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.nomeArquivo">Nome Arquivo</span></dt>
                <dd>
                    <span>{{anexo.nomeArquivo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.conteudo">Conteudo</span></dt>
                <dd>
                    <div *ngIf="anexo.conteudo">
                        <a (click)="openFile(anexo.conteudoContentType!, anexo.conteudo)" jhiTranslate="entity.action.open">open</a>
                        {{anexo.conteudoContentType}}, {{byteSize(anexo.conteudo)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.acaoSGQ">Acao SGQ</span></dt>
                <dd>
                    <div *ngIf="anexo.acaoSGQ">
                        <a [routerLink]="['/acao-sgq', anexo.acaoSGQ?.id, 'view']">{{anexo.acaoSGQ?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.analiseConsultoria">Analise Consultoria</span></dt>
                <dd>
                    <div *ngIf="anexo.analiseConsultoria">
                        <a [routerLink]="['/analise-consultoria', anexo.analiseConsultoria?.id, 'view']">{{anexo.analiseConsultoria?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.checklist">Checklist</span></dt>
                <dd>
                    <div *ngIf="anexo.checklist">
                        <a [routerLink]="['/checklist', anexo.checklist?.id, 'view']">{{anexo.checklist?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.boletimInformativo">Boletim Informativo</span></dt>
                <dd>
                    <div *ngIf="anexo.boletimInformativo">
                        <a [routerLink]="['/boletim-informativo', anexo.boletimInformativo?.id, 'view']">{{anexo.boletimInformativo?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.campanhaRecall">Campanha Recall</span></dt>
                <dd>
                    <div *ngIf="anexo.campanhaRecall">
                        <a [routerLink]="['/campanha-recall', anexo.campanhaRecall?.id, 'view']">{{anexo.campanhaRecall?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.eventoOperacional">Evento Operacional</span></dt>
                <dd>
                    <div *ngIf="anexo.eventoOperacional">
                        <a [routerLink]="['/evento-operacional', anexo.eventoOperacional?.id, 'view']">{{anexo.eventoOperacional?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.itemChecklist">Item Checklist</span></dt>
                <dd>
                    <div *ngIf="anexo.itemChecklist">
                        <a [routerLink]="['/item-checklist', anexo.itemChecklist?.id, 'view']">{{anexo.itemChecklist?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.itemPlanoAuditoria">Item Plano Auditoria</span></dt>
                <dd>
                    <div *ngIf="anexo.itemPlanoAuditoria">
                        <a [routerLink]="['/item-plano-auditoria', anexo.itemPlanoAuditoria?.id, 'view']">{{anexo.itemPlanoAuditoria?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.naoConformidade">Nao Conformidade</span></dt>
                <dd>
                    <div *ngIf="anexo.naoConformidade">
                        <a [routerLink]="['/nao-conformidade', anexo.naoConformidade?.id, 'view']">{{anexo.naoConformidade?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.processo">Processo</span></dt>
                <dd>
                    <div *ngIf="anexo.processo">
                        <a [routerLink]="['/processo', anexo.processo?.id, 'view']">{{anexo.processo?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.produto">Produto</span></dt>
                <dd>
                    <div *ngIf="anexo.produto">
                        <a [routerLink]="['/produto', anexo.produto?.id, 'view']">{{anexo.produto?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.planoAuditoria">Plano Auditoria</span></dt>
                <dd>
                    <div *ngIf="anexo.planoAuditoria">
                        <a [routerLink]="['/plano-auditoria', anexo.planoAuditoria?.id, 'view']">{{anexo.planoAuditoria?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.produtoNaoConforme">Produto Nao Conforme</span></dt>
                <dd>
                    <div *ngIf="anexo.produtoNaoConforme">
                        <a [routerLink]="['/produto-nao-conforme', anexo.produtoNaoConforme?.id, 'view']">{{anexo.produtoNaoConforme?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.publicacaoFeed">Publicacao Feed</span></dt>
                <dd>
                    <div *ngIf="anexo.publicacaoFeed">
                        <a [routerLink]="['/publicacao-feed', anexo.publicacaoFeed?.id, 'view']">{{anexo.publicacaoFeed?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.resultadoChecklist">Resultado Checklist</span></dt>
                <dd>
                    <div *ngIf="anexo.resultadoChecklist">
                        <a [routerLink]="['/resultado-checklist', anexo.resultadoChecklist?.id, 'view']">{{anexo.resultadoChecklist?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.resultadoItemChecklist">Resultado Item Checklist</span></dt>
                <dd>
                    <div *ngIf="anexo.resultadoItemChecklist">
                        <a [routerLink]="['/resultado-item-checklist', anexo.resultadoItemChecklist?.id, 'view']">{{anexo.resultadoItemChecklist?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/anexo', anexo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
