<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="categoriaNorma">
            <h2><span jhiTranslate="gatewayApp.sgqCategoriaNorma.detail.title">Categoria Norma</span> {{categoriaNorma.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqCategoriaNorma.titulo">Titulo</span></dt>
                <dd>
                    <span>{{categoriaNorma.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqCategoriaNorma.descricao">Descricao</span></dt>
                <dd>
                    <span>{{categoriaNorma.descricao}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

        </div>
    </div>
</div>
