<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.home.title">Item Plano Auditorias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item-plano-auditoria" [routerLink]="['/item-plano-auditoria/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.home.createLabel">
            Create a new Item Plano Auditoria
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="itemPlanoAuditorias?.length === 0">
        <span jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.home.notFound">No itemPlanoAuditorias found</span>
    </div>
    <div class="table-responsive" *ngIf="itemPlanoAuditorias?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idUsuarioResponsavel"><span jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.idUsuarioResponsavel">Id Usuario Responsavel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataAuditoria"><span jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.dataAuditoria">Data Auditoria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="anexo.nomeArquivo"><span jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.anexo">Anexo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="auditoria.titulo"><span jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.auditoria">Auditoria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="plano.titulo"><span jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.plano">Plano</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let itemPlanoAuditoria of itemPlanoAuditorias ;trackBy: trackId">
                <td><a [routerLink]="['/item-plano-auditoria', itemPlanoAuditoria.id, 'view' ]">{{itemPlanoAuditoria.id}}</a></td>
                <td>{{itemPlanoAuditoria.idUsuarioResponsavel}}</td>
                <td>{{itemPlanoAuditoria.dataAuditoria | date:'medium'}}</td>
                <td>
                    <div *ngIf="itemPlanoAuditoria.anexo">
                        <a [routerLink]="['/anexo', itemPlanoAuditoria.anexo?.id, 'view' ]" >{{itemPlanoAuditoria.anexo?.nomeArquivo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="itemPlanoAuditoria.auditoria">
                        <a [routerLink]="['/auditoria', itemPlanoAuditoria.auditoria?.id, 'view' ]" >{{itemPlanoAuditoria.auditoria?.titulo}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="itemPlanoAuditoria.plano">
                        <a [routerLink]="['/plano-auditoria', itemPlanoAuditoria.plano?.id, 'view' ]" >{{itemPlanoAuditoria.plano?.titulo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/item-plano-auditoria', itemPlanoAuditoria.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/item-plano-auditoria', itemPlanoAuditoria.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(itemPlanoAuditoria)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="itemPlanoAuditorias?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
