<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-item-plano-auditoria-heading" jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.home.createOrEditLabel">Create or edit a Item Plano Auditoria</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.dataInicioPrevisto" for="field_dataInicioPrevisto">Data Inicio Previsto</label>
                    <div class="d-flex">
                        <input id="field_dataInicioPrevisto" type="datetime-local" class="form-control" name="dataInicioPrevisto" formControlName="dataInicioPrevisto" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.dataFimPrevisto" for="field_dataFimPrevisto">Data Fim Previsto</label>
                    <div class="d-flex">
                        <input id="field_dataFimPrevisto" type="datetime-local" class="form-control" name="dataFimPrevisto" formControlName="dataFimPrevisto" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.auditoria" for="field_auditoria">Auditoria</label>
                    <select class="form-control" id="field_auditoria" name="auditoria" formControlName="auditoria">
                        <option *ngIf="!editForm.get('auditoria')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="auditoriaOption.id === editForm.get('auditoria')!.value?.id ? editForm.get('auditoria')!.value : auditoriaOption" *ngFor="let auditoriaOption of auditorias; trackBy: trackById">{{auditoriaOption.titulo}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('auditoria')!.invalid && (editForm.get('auditoria')!.dirty || editForm.get('auditoria')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('auditoria')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqItemPlanoAuditoria.plano" for="field_plano">Plano</label>
                    <select class="form-control" id="field_plano" name="plano" formControlName="plano">
                        <option *ngIf="!editForm.get('plano')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="planoAuditoriaOption.id === editForm.get('plano')!.value?.id ? editForm.get('plano')!.value : planoAuditoriaOption" *ngFor="let planoAuditoriaOption of planoauditorias; trackBy: trackById">{{planoAuditoriaOption.titulo}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('plano')!.invalid && (editForm.get('plano')!.dirty || editForm.get('plano')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('plano')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
