<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resultadoAuditoria">
            <h2><span jhiTranslate="gatewayApp.sgqResultadoAuditoria.detail.title">Resultado Auditoria</span> {{resultadoAuditoria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqResultadoAuditoria.idUsuarioResponsavel">Id Usuario Responsavel</span></dt>
                <dd>
                    <span>{{resultadoAuditoria.idUsuarioResponsavel}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqResultadoAuditoria.dataInicio">Data Inicio</span></dt>
                <dd>
                    <span>{{resultadoAuditoria.dataInicio}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqResultadoAuditoria.dataFim">Data Fim</span></dt>
                <dd>
                    <span>{{resultadoAuditoria.dataFim}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqResultadoAuditoria.descricao">Descricao</span></dt>
                <dd>
                    <span>{{resultadoAuditoria.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqResultadoAuditoria.auditoria">Auditoria</span></dt>
                <dd>
                    <div *ngIf="resultadoAuditoria.auditoria">
                        <a [routerLink]="['/auditoria', resultadoAuditoria.auditoria?.id, 'view']">{{resultadoAuditoria.auditoria?.titulo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resultado-auditoria', resultadoAuditoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
