<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.sgqResultadoAuditoria.home.title">Resultado Auditorias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resultado-auditoria" [routerLink]="['/resultado-auditoria/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.sgqResultadoAuditoria.home.createLabel">
            Create a new Resultado Auditoria
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="resultadoAuditorias?.length === 0">
        <span jhiTranslate="gatewayApp.sgqResultadoAuditoria.home.notFound">No resultadoAuditorias found</span>
    </div>
    <div class="table-responsive" *ngIf="resultadoAuditorias?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idUsuarioResponsavel"><span jhiTranslate="gatewayApp.sgqResultadoAuditoria.idUsuarioResponsavel">Id Usuario Responsavel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataInicio"><span jhiTranslate="gatewayApp.sgqResultadoAuditoria.dataInicio">Data Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataFim"><span jhiTranslate="gatewayApp.sgqResultadoAuditoria.dataFim">Data Fim</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="gatewayApp.sgqResultadoAuditoria.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="auditoria.titulo"><span jhiTranslate="gatewayApp.sgqResultadoAuditoria.auditoria">Auditoria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resultadoAuditoria of resultadoAuditorias ;trackBy: trackId">
                <td><a [routerLink]="['/resultado-auditoria', resultadoAuditoria.id, 'view' ]">{{resultadoAuditoria.id}}</a></td>
                <td>{{resultadoAuditoria.idUsuarioResponsavel}}</td>
                <td>{{resultadoAuditoria.dataInicio | date:'medium'}}</td>
                <td>{{resultadoAuditoria.dataFim | date:'medium'}}</td>
                <td>{{resultadoAuditoria.descricao}}</td>
                <td>
                    <div *ngIf="resultadoAuditoria.auditoria">
                        <a [routerLink]="['/auditoria', resultadoAuditoria.auditoria?.id, 'view' ]" >{{resultadoAuditoria.auditoria?.titulo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/resultado-auditoria', resultadoAuditoria.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/resultado-auditoria', resultadoAuditoria.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(resultadoAuditoria)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="resultadoAuditorias?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
