<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="itemAuditoria">
            <h2><span jhiTranslate="gatewayApp.sgqItemAuditoria.detail.title">Item Auditoria</span> {{itemAuditoria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqItemAuditoria.titulo">Titulo</span></dt>
                <dd>
                    <span>{{itemAuditoria.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqItemAuditoria.descricao" [ngbTooltip]="'gatewayApp.sgqItemAuditoria.help.descricao' | translate">Descricao</span></dt>
                <dd>
                    <span>{{itemAuditoria.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqItemAuditoria.habilitado">Habilitado</span></dt>
                <dd>
                    <span>{{itemAuditoria.habilitado}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqItemAuditoria.processo">Processo</span></dt>
                <dd>
                    <div *ngIf="itemAuditoria.processo">
                        <a [routerLink]="['/processo', itemAuditoria.processo?.id, 'view']">{{itemAuditoria.processo?.titulo}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqItemAuditoria.anexo">Anexo</span></dt>
                <dd>
                    <span *ngFor="let anexo of itemAuditoria.anexos; let last = last">
                        <a [routerLink]="['/anexo', anexo?.id, 'view' ]">{{anexo.nomeArquivo}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/item-auditoria', itemAuditoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
