<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="analiseConsultoria">
            <h2><span jhiTranslate="gatewayApp.sgqAnaliseConsultoria.detail.title">Analise Consultoria</span> {{analiseConsultoria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqAnaliseConsultoria.dataAnalise">Data Analise</span></dt>
                <dd>
                    <span>{{analiseConsultoria.dataAnalise}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnaliseConsultoria.conteudo">Conteudo</span></dt>
                <dd>
                    <span>{{analiseConsultoria.conteudo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnaliseConsultoria.responsavel">Responsavel</span></dt>
                <dd>
                    <span>{{analiseConsultoria.responsavel}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnaliseConsultoria.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.StatusAprovacao.' + analiseConsultoria.status}}">{{analiseConsultoria.status}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnaliseConsultoria.anexo">Anexo</span></dt>
                <dd>
                    <span *ngFor="let anexo of analiseConsultoria.anexos; let last = last">
                        <a [routerLink]="['/anexo', anexo?.id, 'view' ]">{{anexo.nomeArquivo}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/analise-consultoria', analiseConsultoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
