<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-analise-consultoria-heading" jhiTranslate="gatewayApp.sgqAnaliseConsultoria.home.createOrEditLabel">Create or edit a Analise Consultoria</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAnaliseConsultoria.dataAnalise" for="field_dataAnalise">Data Analise</label>
                    <div class="d-flex">
                        <input id="field_dataAnalise" type="datetime-local" class="form-control" name="dataAnalise" formControlName="dataAnalise" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dataAnalise')!.invalid && (editForm.get('dataAnalise')!.dirty || editForm.get('dataAnalise')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataAnalise')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dataAnalise')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAnaliseConsultoria.conteudo" for="field_conteudo">Conteudo</label>
                    <textarea class="form-control" name="conteudo" id="field_conteudo"
                              formControlName="conteudo"></textarea>
                    <div *ngIf="editForm.get('conteudo')!.invalid && (editForm.get('conteudo')!.dirty || editForm.get('conteudo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('conteudo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAnaliseConsultoria.responsavel" for="field_responsavel">Responsavel</label>
                    <input type="text" class="form-control" name="responsavel" id="field_responsavel"
                           formControlName="responsavel"/>
                    <div *ngIf="editForm.get('responsavel')!.invalid && (editForm.get('responsavel')!.dirty || editForm.get('responsavel')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('responsavel')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('responsavel')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('responsavel')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAnaliseConsultoria.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="APROVADO">{{'gatewayApp.StatusAprovacao.APROVADO' | translate}}</option>
                        <option value="APROVADO_PARCIALMENTE">{{'gatewayApp.StatusAprovacao.APROVADO_PARCIALMENTE' | translate}}</option>
                        <option value="REPROVADO">{{'gatewayApp.StatusAprovacao.REPROVADO' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('status')!.invalid && (editForm.get('status')!.dirty || editForm.get('status')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="gatewayApp.sgqAnaliseConsultoria.anexo" for="field_anexos">Anexo</label>
                    <select class="form-control" id="field_anexos" multiple name="anexos" formControlName="anexos">
                        <option [ngValue]="getSelected(editForm.get('anexos')!.value, anexoOption)" *ngFor="let anexoOption of anexos; trackBy: trackById">{{anexoOption.nomeArquivo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
