<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="campanhaRecall">
            <h2><span jhiTranslate="gatewayApp.sgqCampanhaRecall.detail.title">Campanha Recall</span> {{campanhaRecall.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqCampanhaRecall.idUsuarioRegistro">Id Usuario Registro</span></dt>
                <dd>
                    <span>{{campanhaRecall.idUsuarioRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqCampanhaRecall.titulo">Titulo</span></dt>
                <dd>
                    <span>{{campanhaRecall.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqCampanhaRecall.descricao">Descricao</span></dt>
                <dd>
                    <span>{{campanhaRecall.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqCampanhaRecall.dataRegistro">Data Registro</span></dt>
                <dd>
                    <span>{{campanhaRecall.dataRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqCampanhaRecall.dataInicio">Data Inicio</span></dt>
                <dd>
                    <span>{{campanhaRecall.dataInicio}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqCampanhaRecall.dataFim">Data Fim</span></dt>
                <dd>
                    <span>{{campanhaRecall.dataFim}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqCampanhaRecall.resultado">Resultado</span></dt>
                <dd>
                    <span>{{campanhaRecall.resultado}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqCampanhaRecall.anexo">Anexo</span></dt>
                <dd>
                    <div *ngIf="campanhaRecall.anexo">
                        <a [routerLink]="['/anexo', campanhaRecall.anexo?.id, 'view']">{{campanhaRecall.anexo?.nomeArquivo}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqCampanhaRecall.produto">Produto</span></dt>
                <dd>
                    <div *ngIf="campanhaRecall.produto">
                        <a [routerLink]="['/produto', campanhaRecall.produto?.id, 'view']">{{campanhaRecall.produto?.nome}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqCampanhaRecall.setorResponsavel">Setor Responsavel</span></dt>
                <dd>
                    <div *ngIf="campanhaRecall.setorResponsavel">
                        <a [routerLink]="['/setor', campanhaRecall.setorResponsavel?.id, 'view']">{{campanhaRecall.setorResponsavel?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/campanha-recall', campanhaRecall.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
