<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-campanha-recall-heading" jhiTranslate="gatewayApp.sgqCampanhaRecall.home.createOrEditLabel">Create or edit a Campanha Recall</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqCampanhaRecall.idUsuarioRegistro" for="field_idUsuarioRegistro">Id Usuario Registro</label>
                    <input type="number" class="form-control" name="idUsuarioRegistro" id="field_idUsuarioRegistro"
                           formControlName="idUsuarioRegistro"/>
                    <div *ngIf="editForm.get('idUsuarioRegistro')!.invalid && (editForm.get('idUsuarioRegistro')!.dirty || editForm.get('idUsuarioRegistro')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idUsuarioRegistro')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idUsuarioRegistro')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqCampanhaRecall.titulo" for="field_titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo"
                           formControlName="titulo"/>
                    <div *ngIf="editForm.get('titulo')!.invalid && (editForm.get('titulo')!.dirty || editForm.get('titulo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqCampanhaRecall.descricao" for="field_descricao">Descricao</label>
                    <textarea class="form-control" name="descricao" id="field_descricao"
                              formControlName="descricao"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqCampanhaRecall.dataRegistro" for="field_dataRegistro">Data Registro</label>
                    <div class="d-flex">
                        <input id="field_dataRegistro" type="datetime-local" class="form-control" name="dataRegistro" formControlName="dataRegistro" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dataRegistro')!.invalid && (editForm.get('dataRegistro')!.dirty || editForm.get('dataRegistro')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataRegistro')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dataRegistro')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqCampanhaRecall.dataInicio" for="field_dataInicio">Data Inicio</label>
                    <div class="d-flex">
                        <input id="field_dataInicio" type="datetime-local" class="form-control" name="dataInicio" formControlName="dataInicio" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqCampanhaRecall.dataFim" for="field_dataFim">Data Fim</label>
                    <div class="d-flex">
                        <input id="field_dataFim" type="datetime-local" class="form-control" name="dataFim" formControlName="dataFim" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqCampanhaRecall.resultado" for="field_resultado">Resultado</label>
                    <textarea class="form-control" name="resultado" id="field_resultado"
                              formControlName="resultado"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqCampanhaRecall.produto" for="field_produto">Produto</label>
                    <select class="form-control" id="field_produto" name="produto" formControlName="produto">
                        <option *ngIf="!editForm.get('produto')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="produtoOption.id === editForm.get('produto')!.value?.id ? editForm.get('produto')!.value : produtoOption" *ngFor="let produtoOption of produtos; trackBy: trackById">{{produtoOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('produto')!.invalid && (editForm.get('produto')!.dirty || editForm.get('produto')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('produto')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqCampanhaRecall.setorResponsavel" for="field_setorResponsavel">Setor Responsavel</label>
                    <select class="form-control" id="field_setorResponsavel" name="setorResponsavel" formControlName="setorResponsavel">
                        <option *ngIf="!editForm.get('setorResponsavel')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="setorOption.id === editForm.get('setorResponsavel')!.value?.id ? editForm.get('setorResponsavel')!.value : setorOption" *ngFor="let setorOption of setors; trackBy: trackById">{{setorOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('setorResponsavel')!.invalid && (editForm.get('setorResponsavel')!.dirty || editForm.get('setorResponsavel')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('setorResponsavel')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
