<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="norma">
            <h2><span jhiTranslate="gatewayApp.norma.detail.title">Norma</span> {{norma.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.norma.orgao">Orgao</span></dt>
                <dd>
                    <span>{{norma.orgao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.norma.titulo">Titulo</span></dt>
                <dd>
                    <span>{{norma.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.norma.descricao">Descricao</span></dt>
                <dd>
                    <span>{{norma.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.norma.versao">Versao</span></dt>
                <dd>
                    <span>{{norma.versao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.norma.numeroEdicao">Numero Edicao</span></dt>
                <dd>
                    <span>{{norma.numeroEdicao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.norma.dataEdicao">Data Edicao</span></dt>
                <dd>
                    <span>{{norma.dataEdicao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.norma.dataInicioValidade">Data Inicio Validade</span></dt>
                <dd>
                    <span>{{norma.dataInicioValidade}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.norma.categoria">Categoria</span></dt>
                <dd>
                    <span>{{norma.categoria}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.norma.urlDownload">Url Download</span></dt>
                <dd>
                    <span>{{norma.urlDownload}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

        </div>
    </div>
</div>
