<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="naoConformidade">
            <h2><span jhiTranslate="gatewayApp.sgqNaoConformidade.detail.title">Nao Conformidade</span> {{naoConformidade.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.idUsuarioRegistro">Id Usuario Registro</span></dt>
                <dd>
                    <span>{{naoConformidade.idUsuarioRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.idUsuarioResponsavel">Id Usuario Responsavel</span></dt>
                <dd>
                    <span>{{naoConformidade.idUsuarioResponsavel}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.titulo">Titulo</span></dt>
                <dd>
                    <span>{{naoConformidade.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.fato">Fato</span></dt>
                <dd>
                    <span>{{naoConformidade.fato}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.causa" [ngbTooltip]="'gatewayApp.sgqNaoConformidade.help.causa' | translate">Causa</span></dt>
                <dd>
                    <span>{{naoConformidade.causa}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.prazoConclusao">Prazo Conclusao</span></dt>
                <dd>
                    <span>{{naoConformidade.prazoConclusao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.novoPrazoConclusao">Novo Prazo Conclusao</span></dt>
                <dd>
                    <span>{{naoConformidade.novoPrazoConclusao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.dataRegistro">Data Registro</span></dt>
                <dd>
                    <span>{{naoConformidade.dataRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.dataConclusao">Data Conclusao</span></dt>
                <dd>
                    <span>{{naoConformidade.dataConclusao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.analiseFinal" [ngbTooltip]="'gatewayApp.sgqNaoConformidade.help.analiseFinal' | translate">Analise Final</span></dt>
                <dd>
                    <span>{{naoConformidade.analiseFinal}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.statusSGQ">Status SGQ</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.StatusSGQ.' + naoConformidade.statusSGQ}}">{{naoConformidade.statusSGQ}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.anexo">Anexo</span></dt>
                <dd>
                    <div *ngIf="naoConformidade.anexo">
                        <a [routerLink]="['/anexo', naoConformidade.anexo?.id, 'view']">{{naoConformidade.anexo?.nomeArquivo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nao-conformidade', naoConformidade.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
