<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="naoConformidade">
            <h2><span jhiTranslate="gatewayApp.sgqNaoConformidade.detail.title">Nao Conformidade</span> {{naoConformidade.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.idUsuarioRegistro">Id Usuario Registro</span></dt>
                <dd>
                    <span>{{usuarios.has(naoConformidade.idUsuarioRegistro) ? usuarios.get(naoConformidade.idUsuarioRegistro)!.firstName + " " + usuarios.get(naoConformidade.idUsuarioRegistro)!.lastName : ""}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.idUsuarioResponsavel">Id Usuario Responsavel</span></dt>
                <dd>
                    <span>{{usuarios.has(naoConformidade.idUsuarioResponsavel) ? usuarios.get(naoConformidade.idUsuarioResponsavel)!.firstName + " " +usuarios.get(naoConformidade.idUsuarioResponsavel)!.lastName : ""}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.titulo">Titulo</span></dt>
                <dd>
                    <span>{{naoConformidade.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.descricao">Descricao</span></dt>
                <dd>
                    <span>{{naoConformidade.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.procedente" [ngbTooltip]="'gatewayApp.sgqNaoConformidade.help.procedente' | translate">Procedente</span></dt>
                <dd>
                    <span>{{naoConformidade.procedente}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.causa" [ngbTooltip]="'gatewayApp.sgqNaoConformidade.help.causa' | translate">Causa</span></dt>
                <dd>
                    <span>{{naoConformidade.causa}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.prazoConclusao">Prazo Conclusao</span></dt>
                <dd>
                    <span>{{naoConformidade.prazoConclusao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.novoPrazoConclusao">Novo Prazo Conclusao</span></dt>
                <dd>
                    <span>{{naoConformidade.novoPrazoConclusao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.dataRegistro">Data Registro</span></dt>
                <dd>
                    <span>{{naoConformidade.dataRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.dataConclusao">Data Conclusao</span></dt>
                <dd>
                    <span>{{naoConformidade.dataConclusao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.analiseFinal" [ngbTooltip]="'gatewayApp.sgqNaoConformidade.help.analiseFinal' | translate">Analise Final</span></dt>
                <dd>
                    <span>{{naoConformidade.analiseFinal}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.statusSGQ">Status SGQ</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.StatusSGQ.' + naoConformidade.statusSGQ}}">{{naoConformidade.statusSGQ}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.origem">Origem</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.OrigemNaoConformidade.' + naoConformidade.origem}}">{{naoConformidade.origem}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.anexo">Anexo</span></dt>
                <dd>
                    <span *ngFor="let anexo of naoConformidade.anexos; let last = last">
                        <a [routerLink]="['/anexo', anexo?.id, 'view' ]">{{anexo.nomeArquivo}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.auditoria">Auditoria</span></dt>
                <dd>
                    <div *ngIf="naoConformidade.auditoria">
                        <a [routerLink]="['/auditoria', naoConformidade.auditoria?.id, 'view']">{{naoConformidade.auditoria?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNaoConformidade.resultadoChecklist">Resultado Checklist</span></dt>
                <dd>
                    <div *ngIf="naoConformidade.resultadoChecklist">
                        <a [routerLink]="['/resultado-checklist', naoConformidade.resultadoChecklist?.id, 'view']">{{naoConformidade.resultadoChecklist?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/nao-conformidade', naoConformidade.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
