<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.sgqFeed.home.title">Feeds</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-feed" [routerLink]="['/feed/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.sgqFeed.home.createLabel">
            Create a new Feed
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="feeds?.length === 0">
        <span jhiTranslate="gatewayApp.sgqFeed.home.notFound">No feeds found</span>
    </div>
    <div class="table-responsive" *ngIf="feeds?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idUsuarioRegistro"><span jhiTranslate="gatewayApp.sgqFeed.idUsuarioRegistro">Id Usuario Registro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipo"><span jhiTranslate="gatewayApp.sgqFeed.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="titulo"><span jhiTranslate="gatewayApp.sgqFeed.titulo">Titulo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="gatewayApp.sgqFeed.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="uri"><span jhiTranslate="gatewayApp.sgqFeed.uri">Uri</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="link"><span jhiTranslate="gatewayApp.sgqFeed.link">Link</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="urlImagem"><span jhiTranslate="gatewayApp.sgqFeed.urlImagem">Url Imagem</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tituloImagem"><span jhiTranslate="gatewayApp.sgqFeed.tituloImagem">Titulo Imagem</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="alturaImagem"><span jhiTranslate="gatewayApp.sgqFeed.alturaImagem">Altura Imagem</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="larguraImagem"><span jhiTranslate="gatewayApp.sgqFeed.larguraImagem">Largura Imagem</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataRegistro"><span jhiTranslate="gatewayApp.sgqFeed.dataRegistro">Data Registro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="gatewayApp.sgqFeed.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let feed of feeds ;trackBy: trackId">
                <td><a [routerLink]="['/feed', feed.id, 'view' ]">{{feed.id}}</a></td>
                <td>{{usuarios.has(feed.idUsuarioRegistro) ? usuarios.get(feed.idUsuarioRegistro).login : ""}}</td>
                <td jhiTranslate="{{'gatewayApp.TipoFeed.' + feed.tipo}}">{{feed.tipo}}</td>
                <td>{{feed.titulo}}</td>
                <td>{{feed.descricao}}</td>
                <td>{{feed.uri}}</td>
                <td>{{feed.link}}</td>
                <td>{{feed.urlImagem}}</td>
                <td>{{feed.tituloImagem}}</td>
                <td>{{feed.alturaImagem}}</td>
                <td>{{feed.larguraImagem}}</td>
                <td>{{feed.dataRegistro | date:'medium'}}</td>
                <td jhiTranslate="{{'gatewayApp.StatusFeed.' + feed.status}}">{{feed.status}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/feed', feed.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/feed', feed.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(feed)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="feeds?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
