<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="publicacaoFeed">
            <h2><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.detail.title">Publicacao Feed</span> {{publicacaoFeed.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.idUsuarioRegistro">Id Usuario Registro</span></dt>
                <dd>
                    <span>{{publicacaoFeed.idUsuarioRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.titulo">Titulo</span></dt>
                <dd>
                    <span>{{publicacaoFeed.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.autor">Autor</span></dt>
                <dd>
                    <span>{{publicacaoFeed.autor}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.uri">Uri</span></dt>
                <dd>
                    <span>{{publicacaoFeed.uri}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.link">Link</span></dt>
                <dd>
                    <span>{{publicacaoFeed.link}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.conteudo">Conteudo</span></dt>
                <dd>
                    <span>{{publicacaoFeed.conteudo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.dataRegistro">Data Registro</span></dt>
                <dd>
                    <span>{{publicacaoFeed.dataRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.dataPublicacao">Data Publicacao</span></dt>
                <dd>
                    <span>{{publicacaoFeed.dataPublicacao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.StatusPublicacao.' + publicacaoFeed.status}}">{{publicacaoFeed.status}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.feed">Feed</span></dt>
                <dd>
                    <div *ngIf="publicacaoFeed.feed">
                        <a [routerLink]="['/feed', publicacaoFeed.feed?.id, 'view']">{{publicacaoFeed.feed?.titulo}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqPublicacaoFeed.categoria">Categoria</span></dt>
                <dd>
                    <span *ngFor="let categoria of publicacaoFeed.categorias; let last = last">
                        <a [routerLink]="['/categoria-publicacao', categoria?.id, 'view' ]">{{categoria.titulo}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN_SGQ'" type="button"
                    [routerLink]="['/publicacao-feed', publicacaoFeed.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
