<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.sgqAcaoSgq.home.title">Acao SGQS</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-acao-sgq" [routerLink]="['/acao-sgq/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.sgqAcaoSgq.home.createLabel">
            Create a new Acao SGQ
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="acaoSGQS?.length === 0">
        <span jhiTranslate="gatewayApp.sgqAcaoSgq.home.notFound">No acaoSGQS found</span>
    </div>
    <div class="table-responsive" *ngIf="acaoSGQS?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idUsuarioRegistro"><span jhiTranslate="gatewayApp.sgqAcaoSgq.idUsuarioRegistro">Id Usuario Registro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idUsuarioResponsavel"><span jhiTranslate="gatewayApp.sgqAcaoSgq.idUsuarioResponsavel">Id Usuario Responsavel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tipo"><span jhiTranslate="gatewayApp.sgqAcaoSgq.tipo">Tipo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="titulo"><span jhiTranslate="gatewayApp.sgqAcaoSgq.titulo">Titulo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="gatewayApp.sgqAcaoSgq.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="prazoConclusao"><span jhiTranslate="gatewayApp.sgqAcaoSgq.prazoConclusao">Prazo Conclusao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="novoPrazoConclusao"><span jhiTranslate="gatewayApp.sgqAcaoSgq.novoPrazoConclusao">Novo Prazo Conclusao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataRegistro"><span jhiTranslate="gatewayApp.sgqAcaoSgq.dataRegistro">Data Registro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataConclusao"><span jhiTranslate="gatewayApp.sgqAcaoSgq.dataConclusao">Data Conclusao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="resultado"><span jhiTranslate="gatewayApp.sgqAcaoSgq.resultado">Resultado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="statusSGQ"><span jhiTranslate="gatewayApp.sgqAcaoSgq.statusSGQ">Status SGQ</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="naoConformidade.titulo"><span jhiTranslate="gatewayApp.sgqAcaoSgq.naoConformidade">Nao Conformidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let acaoSGQ of acaoSGQS ;trackBy: trackId">
                <td><a [routerLink]="['/acao-sgq', acaoSGQ.id, 'view' ]">{{acaoSGQ.id}}</a></td>
                <td>{{usuarios.has(acaoSGQ.idUsuarioRegistro) ? usuarios.get(acaoSGQ.idUsuarioRegistro)!.login : ""}}</td>
                <td>{{usuarios.has(acaoSGQ.idUsuarioResponsavel) ? usuarios.get(acaoSGQ.idUsuarioResponsavel)!.login : ""}}</td>
                <td jhiTranslate="{{'gatewayApp.TipoAcaoSGQ.' + acaoSGQ.tipo}}">{{acaoSGQ.tipo}}</td>
                <td>{{acaoSGQ.titulo}}</td>
                <td>{{acaoSGQ.descricao}}</td>
                <td>{{acaoSGQ.prazoConclusao | date:'shortDate'}}</td>
                <td>{{acaoSGQ.novoPrazoConclusao | date:'shortDate'}}</td>
                <td>{{acaoSGQ.dataRegistro | date:'shortDate'}}</td>
                <td>{{acaoSGQ.dataConclusao | date:'shortDate'}}</td>
                <td>{{acaoSGQ.resultado}}</td>
                <td jhiTranslate="{{'gatewayApp.StatusSGQ.' + acaoSGQ.statusSGQ}}">{{acaoSGQ.statusSGQ}}</td>
                <td>
                    <div *ngIf="acaoSGQ.naoConformidade">
                        <a [routerLink]="['/nao-conformidade', acaoSGQ.naoConformidade?.id, 'view' ]" >{{acaoSGQ.naoConformidade?.titulo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/acao-sgq', acaoSGQ.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/acao-sgq', acaoSGQ.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(acaoSGQ)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="acaoSGQS?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
