<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="acaoSGQ">
            <h2><span jhiTranslate="gatewayApp.sgqAcaoSgq.detail.title">Acao SGQ</span> {{acaoSGQ.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.idUsuarioRegistro">Id Usuario Registro</span></dt>
                <dd>
                  <span>{{usuarios.has(acaoSGQ.idUsuarioRegistro) ? usuarios.get(acaoSGQ.idUsuarioRegistro).firstName + " " + usuarios.get(acaoSGQ.idUsuarioRegistro).lastName : ""}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.idUsuarioResponsavel">Id Usuario Responsavel</span></dt>
                <dd>
                    <span>{{usuarios.has(acaoSGQ.idUsuarioResponsavel) ? usuarios.get(acaoSGQ.idUsuarioResponsavel).firstName + " " +usuarios.get(acaoSGQ.idUsuarioResponsavel).lastName : ""}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.tipo">Tipo</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.TipoAcaoSGQ.' + acaoSGQ.tipo}}">{{acaoSGQ.tipo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.titulo">Titulo</span></dt>
                <dd>
                    <span>{{acaoSGQ.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.descricao">Descricao</span></dt>
                <dd>
                    <span>{{acaoSGQ.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.prazoConclusao">Prazo Conclusao</span></dt>
                <dd>
                    <span>{{acaoSGQ.prazoConclusao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.novoPrazoConclusao">Novo Prazo Conclusao</span></dt>
                <dd>
                    <span>{{acaoSGQ.novoPrazoConclusao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.dataRegistro">Data Registro</span></dt>
                <dd>
                    <span>{{acaoSGQ.dataRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.dataConclusao">Data Conclusao</span></dt>
                <dd>
                    <span>{{acaoSGQ.dataConclusao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.resultado">Resultado</span></dt>
                <dd>
                    <span>{{acaoSGQ.resultado}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.statusSGQ">Status SGQ</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.StatusSGQ.' + acaoSGQ.statusSGQ}}">{{acaoSGQ.statusSGQ}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.anexo">Anexo</span></dt>
                <dd>
                    <span *ngFor="let anexo of acaoSGQ.anexos; let last = last">
                        <a [routerLink]="['/anexo', anexo?.id, 'view' ]">{{anexo.nomeArquivo}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAcaoSgq.naoConformidade">Nao Conformidade</span></dt>
                <dd>
                    <div *ngIf="acaoSGQ.naoConformidade">
                        <a [routerLink]="['/nao-conformidade', acaoSGQ.naoConformidade?.id, 'view']">{{acaoSGQ.naoConformidade?.titulo}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/acao-sgq', acaoSGQ.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
