<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-acao-sgq-heading" jhiTranslate="gatewayApp.sgqAcaoSgq.home.createOrEditLabel">Create or edit a Acao SGQ</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.idUsuarioRegistro" for="field_idUsuarioRegistro">Id Usuario Registro</label>
                    <input type="number" class="form-control" name="idUsuarioRegistro" id="field_idUsuarioRegistro"
                           formControlName="idUsuarioRegistro"/>
                    <div *ngIf="editForm.get('idUsuarioRegistro')!.invalid && (editForm.get('idUsuarioRegistro')!.dirty || editForm.get('idUsuarioRegistro')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idUsuarioRegistro')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idUsuarioRegistro')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.idUsuarioResponsavel" for="field_idUsuarioResponsavel">Id Usuario Responsavel</label>
                    <input type="number" class="form-control" name="idUsuarioResponsavel" id="field_idUsuarioResponsavel"
                           formControlName="idUsuarioResponsavel"/>
                    <div *ngIf="editForm.get('idUsuarioResponsavel')!.invalid && (editForm.get('idUsuarioResponsavel')!.dirty || editForm.get('idUsuarioResponsavel')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idUsuarioResponsavel')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idUsuarioResponsavel')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.tipo" for="field_tipo">Tipo</label>
                    <select class="form-control" name="tipo" formControlName="tipo" id="field_tipo">
                        <option value="ACAO_CORRETIVA">{{'gatewayApp.TipoAcaoSGQ.ACAO_CORRETIVA' | translate}}</option>
                        <option value="ACAO_PREVENTIVA">{{'gatewayApp.TipoAcaoSGQ.ACAO_PREVENTIVA' | translate}}</option>
                        <option value="CORRECAO_PONTUAL">{{'gatewayApp.TipoAcaoSGQ.CORRECAO_PONTUAL' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('tipo')!.invalid && (editForm.get('tipo')!.dirty || editForm.get('tipo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tipo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.titulo" for="field_titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo"
                           formControlName="titulo"/>
                    <div *ngIf="editForm.get('titulo')!.invalid && (editForm.get('titulo')!.dirty || editForm.get('titulo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.descricao" for="field_descricao">Descricao</label>
                    <textarea class="form-control" name="descricao" id="field_descricao"
                              formControlName="descricao"></textarea>
                    <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.prazoConclusao" for="field_prazoConclusao">Prazo Conclusao</label>
                    <div class="d-flex">
                        <input id="field_prazoConclusao" type="datetime-local" class="form-control" name="prazoConclusao" formControlName="prazoConclusao" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('prazoConclusao')!.invalid && (editForm.get('prazoConclusao')!.dirty || editForm.get('prazoConclusao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prazoConclusao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('prazoConclusao')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.novoPrazoConclusao" for="field_novoPrazoConclusao">Novo Prazo Conclusao</label>
                    <div class="d-flex">
                        <input id="field_novoPrazoConclusao" type="datetime-local" class="form-control" name="novoPrazoConclusao" formControlName="novoPrazoConclusao" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.dataRegistro" for="field_dataRegistro">Data Registro</label>
                    <div class="d-flex">
                        <input id="field_dataRegistro" type="datetime-local" class="form-control" name="dataRegistro" formControlName="dataRegistro" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dataRegistro')!.invalid && (editForm.get('dataRegistro')!.dirty || editForm.get('dataRegistro')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataRegistro')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dataRegistro')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.dataConclusao" for="field_dataConclusao">Data Conclusao</label>
                    <div class="d-flex">
                        <input id="field_dataConclusao" type="datetime-local" class="form-control" name="dataConclusao" formControlName="dataConclusao" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.resultado" for="field_resultado">Resultado</label>
                    <textarea class="form-control" name="resultado" id="field_resultado"
                              formControlName="resultado"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.statusSGQ" for="field_statusSGQ">Status SGQ</label>
                    <select class="form-control" name="statusSGQ" formControlName="statusSGQ" id="field_statusSGQ">
                        <option value="REGISTRADO">{{'gatewayApp.StatusSGQ.REGISTRADO' | translate}}</option>
                        <option value="PENDENTE">{{'gatewayApp.StatusSGQ.PENDENTE' | translate}}</option>
                        <option value="CONCLUIDO">{{'gatewayApp.StatusSGQ.CONCLUIDO' | translate}}</option>
                        <option value="SUSPENSO">{{'gatewayApp.StatusSGQ.SUSPENSO' | translate}}</option>
                        <option value="CANCELADO">{{'gatewayApp.StatusSGQ.CANCELADO' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('statusSGQ')!.invalid && (editForm.get('statusSGQ')!.dirty || editForm.get('statusSGQ')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('statusSGQ')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.anexo" for="field_anexo">Anexo</label>
                    <select class="form-control" id="field_anexo" name="anexo" formControlName="anexo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="anexoOption.id === editForm.get('anexo')!.value?.id ? editForm.get('anexo')!.value : anexoOption" *ngFor="let anexoOption of anexos; trackBy: trackById">{{anexoOption.nomeArquivo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqAcaoSgq.naoConformidade" for="field_naoConformidade">Nao Conformidade</label>
                    <select class="form-control" id="field_naoConformidade" name="naoConformidade" formControlName="naoConformidade">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="naoConformidadeOption.id === editForm.get('naoConformidade')!.value?.id ? editForm.get('naoConformidade')!.value : naoConformidadeOption" *ngFor="let naoConformidadeOption of naoconformidades; trackBy: trackById">{{naoConformidadeOption.titulo}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
