<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="checklist">
            <h2><span jhiTranslate="gatewayApp.sgqChecklist.detail.title">Checklist</span> {{checklist.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqChecklist.titulo">Titulo</span></dt>
                <dd>
                    <span>{{checklist.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqChecklist.periodicidade">Periodicidade</span></dt>
                <dd>
                    <span jhiTranslate="{{'gatewayApp.Periodicidade.' + checklist.periodicidade}}">{{checklist.periodicidade}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqChecklist.habilitado">Habilitado</span></dt>
                <dd>
                    <span>{{checklist.habilitado}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqChecklist.anexo">Anexo</span></dt>
                <dd>
                    <span *ngFor="let anexo of checklist.anexos; let last = last">
                        <a [routerLink]="['/anexo', anexo?.id, 'view' ]">{{anexo.nomeArquivo}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqChecklist.setor">Setor</span></dt>
                <dd>
                    <div *ngIf="checklist.setor">
                        <a [routerLink]="['/setor', checklist.setor?.id, 'view']">{{checklist.setor?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/checklist', checklist.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
