<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.sgqAuditoria.home.title">Auditorias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-auditoria" [routerLink]="['/auditoria/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.sgqAuditoria.home.createLabel">
            Create a new Auditoria
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="auditorias?.length === 0">
        <span jhiTranslate="gatewayApp.sgqAuditoria.home.notFound">No auditorias found</span>
    </div>
    <div class="table-responsive" *ngIf="auditorias?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="idUsuarioRegistro"><span jhiTranslate="gatewayApp.sgqAuditoria.idUsuarioRegistro">Id Usuario Registro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="titulo"><span jhiTranslate="gatewayApp.sgqAuditoria.titulo">Titulo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="descricao"><span jhiTranslate="gatewayApp.sgqAuditoria.descricao">Descricao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="modalidade"><span jhiTranslate="gatewayApp.sgqAuditoria.modalidade">Modalidade</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataRegistro"><span jhiTranslate="gatewayApp.sgqAuditoria.dataRegistro">Data Registro</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataInicio"><span jhiTranslate="gatewayApp.sgqAuditoria.dataInicio">Data Inicio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dataFim"><span jhiTranslate="gatewayApp.sgqAuditoria.dataFim">Data Fim</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="auditor"><span jhiTranslate="gatewayApp.sgqAuditoria.auditor">Auditor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="consultoria.nome"><span jhiTranslate="gatewayApp.sgqAuditoria.consultoria">Consultoria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let auditoria of auditorias ;trackBy: trackId">
                <td><a [routerLink]="['/auditoria', auditoria.id, 'view' ]">{{auditoria.id}}</a></td>
                <td>{{usuarios.has(auditoria.idUsuarioRegistro) ? usuarios.get(auditoria.idUsuarioRegistro).login : ""}}</td>
                <td>{{auditoria.titulo}}</td>
                <td>{{auditoria.descricao}}</td>
                <td jhiTranslate="{{'gatewayApp.ModalidadeAuditoria.' + auditoria.modalidade}}">{{auditoria.modalidade}}</td>
                <td>{{auditoria.dataRegistro | date:'medium'}}</td>
                <td>{{auditoria.dataInicio | date:'medium'}}</td>
                <td>{{auditoria.dataFim | date:'medium'}}</td>
                <td>{{auditoria.auditor}}</td>
                <td>
                    <div *ngIf="auditoria.consultoria">
                        <a [routerLink]="['/consultoria', auditoria.consultoria?.id, 'view' ]" >{{auditoria.consultoria?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/auditoria', auditoria.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/auditoria', auditoria.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(auditoria)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="auditorias?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
