<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="auditoria">
            <h2><span jhiTranslate="gatewayApp.sgqAuditoria.detail.title">Auditoria</span> {{auditoria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqAuditoria.idUsuarioRegistro">Id Usuario Registro</span></dt>
                <dd>
                    <span>{{usuarios.has(auditoria.idUsuarioRegistro) ? usuarios.get(auditoria.idUsuarioRegistro).firstName + " " + usuarios.get(auditoria.idUsuarioRegistro).lastName : ""}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAuditoria.titulo">Titulo</span></dt>
                <dd>
                    <span>{{auditoria.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAuditoria.descricao">Descricao</span></dt>
                <dd>
                    <span>{{auditoria.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAuditoria.dataRegistro">Data Registro</span></dt>
                <dd>
                    <span>{{auditoria.dataRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAuditoria.dataInicio">Data Inicio</span></dt>
                <dd>
                    <span>{{auditoria.dataInicio}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAuditoria.dataFim">Data Fim</span></dt>
                <dd>
                    <span>{{auditoria.dataFim}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAuditoria.itemAuditoria">Item Auditoria</span></dt>
                <dd>
                    <span *ngFor="let itemAuditoria of auditoria.itemAuditorias; let last = last">
                        <a [routerLink]="['/item-auditoria', itemAuditoria?.id, 'view' ]">{{itemAuditoria.titulo}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAuditoria.anexo">Anexo</span></dt>
                <dd>
                    <span *ngFor="let anexo of auditoria.anexos; let last = last">
                        <a [routerLink]="['/anexo', anexo?.id, 'view' ]">{{anexo.nomeArquivo}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/auditoria', auditoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
