<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="setor">
            <h2><span jhiTranslate="gatewayApp.sgqSetor.detail.title">Setor</span> {{setor.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqSetor.nome">Nome</span></dt>
                <dd>
                    <span>{{setor.nome}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqSetor.habilitado">Habilitado</span></dt>
                <dd>
                    <span>{{setor.habilitado}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqSetor.empresa">Empresa</span></dt>
                <dd>
                    <div *ngIf="setor.empresa">
                        <a [routerLink]="['/empresa', setor.empresa?.id, 'view']">{{setor.empresa?.nome}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/setor', setor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
