<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="anexo">
            <h2><span jhiTranslate="gatewayApp.sgqAnexo.detail.title">Anexo</span> {{anexo.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.idUsuarioRegistro">Id Usuario Registro</span></dt>
                <dd>
                    <span>{{anexo.idUsuarioRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.dataRegistro">Data Registro</span></dt>
                <dd>
                    <span>{{anexo.dataRegistro}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.nomeArquivo">Nome Arquivo</span></dt>
                <dd>
                    <span>{{anexo.nomeArquivo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqAnexo.conteudo">Conteudo</span></dt>
                <dd>
                    <div *ngIf="anexo.conteudo">
                        <a (click)="openFile(anexo.conteudoContentType!, anexo.conteudo)" jhiTranslate="entity.action.open">open</a>
                        {{anexo.conteudoContentType}}, {{byteSize(anexo.conteudo)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/anexo', anexo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
