<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="norma">
            <h2><span jhiTranslate="gatewayApp.sgqNorma.detail.title">Norma</span> {{norma.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqNorma.orgao">Orgao</span></dt>
                <dd>
                    <span>{{norma.orgao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNorma.titulo">Titulo</span></dt>
                <dd>
                    <span>{{norma.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNorma.descricao">Descricao</span></dt>
                <dd>
                    <span>{{norma.descricao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNorma.versao">Versao</span></dt>
                <dd>
                    <span>{{norma.versao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNorma.numeroEdicao">Numero Edicao</span></dt>
                <dd>
                    <span>{{norma.numeroEdicao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNorma.dataEdicao">Data Edicao</span></dt>
                <dd>
                    <span>{{norma.dataEdicao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNorma.dataInicioValidade">Data Inicio Validade</span></dt>
                <dd>
                    <span>{{norma.dataInicioValidade}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNorma.categoria">Categoria</span></dt>
                <dd>
                    <span>{{norma.categoria}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqNorma.urlDownload">Url Download</span></dt>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="submit"
                    class="btn btn-primary" (click)="download(norma.urlDownload)">
                <fa-icon [icon]="'download'"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="gatewayApp.sgqNorma.download.title">Download</span>
            </button>
        </div>
    </div>
</div>
