<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.sgqEmpresaConsultoria.home.title">Empresa Consultorias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-empresa-consultoria" [routerLink]="['/empresa-consultoria/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.sgqEmpresaConsultoria.home.createLabel">
            Create a new Empresa Consultoria
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="empresaConsultorias?.length === 0">
        <span jhiTranslate="gatewayApp.sgqEmpresaConsultoria.home.notFound">No empresaConsultorias found</span>
    </div>
    <div class="table-responsive" *ngIf="empresaConsultorias?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nome"><span jhiTranslate="gatewayApp.sgqEmpresaConsultoria.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="urlIntegracao"><span jhiTranslate="gatewayApp.sgqEmpresaConsultoria.urlIntegracao">Url Integracao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="tokenAcesso"><span jhiTranslate="gatewayApp.sgqEmpresaConsultoria.tokenAcesso">Token Acesso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let empresaConsultoria of empresaConsultorias ;trackBy: trackId">
                <td><a [routerLink]="['/empresa-consultoria', empresaConsultoria.id, 'view' ]">{{empresaConsultoria.id}}</a></td>
                <td>{{empresaConsultoria.nome}}</td>
                <td>{{empresaConsultoria.urlIntegracao}}</td>
                <td>{{empresaConsultoria.tokenAcesso}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/empresa-consultoria', empresaConsultoria.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/empresa-consultoria', empresaConsultoria.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(empresaConsultoria)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="empresaConsultorias?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
