<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="empresaConsultoria">
            <h2><span jhiTranslate="gatewayApp.sgqEmpresaConsultoria.detail.title">Empresa Consultoria</span> {{empresaConsultoria.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.sgqEmpresaConsultoria.nome">Nome</span></dt>
                <dd>
                    <span>{{empresaConsultoria.nome}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqEmpresaConsultoria.urlIntegracao">Url Integracao</span></dt>
                <dd>
                    <span>{{empresaConsultoria.urlIntegracao}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.sgqEmpresaConsultoria.tokenAcesso" [ngbTooltip]="'gatewayApp.sgqEmpresaConsultoria.help.tokenAcesso' | translate">Token Acesso</span></dt>
                <dd>
                    <span>{{empresaConsultoria.tokenAcesso}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/empresa-consultoria', empresaConsultoria.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
