<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.sgqItemAuditoria.home.title">Item Auditorias</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-item-auditoria" [routerLink]="['/item-auditoria/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.sgqItemAuditoria.home.createLabel">
            Create a new Item Auditoria
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="itemAuditorias?.length === 0">
        <span jhiTranslate="gatewayApp.sgqItemAuditoria.home.notFound">No itemAuditorias found</span>
    </div>
    <div class="table-responsive" *ngIf="itemAuditorias?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="titulo"><span jhiTranslate="gatewayApp.sgqItemAuditoria.titulo">Titulo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="habilitado"><span jhiTranslate="gatewayApp.sgqItemAuditoria.habilitado">Habilitado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="processo.titulo"><span jhiTranslate="gatewayApp.sgqItemAuditoria.processo">Processo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let itemAuditoria of itemAuditorias ;trackBy: trackId">
                <td><a [routerLink]="['/item-auditoria', itemAuditoria.id, 'view' ]">{{itemAuditoria.id}}</a></td>
                <td>{{itemAuditoria.titulo}}</td>
                <td>{{itemAuditoria.habilitado}}</td>
                <td>
                    <div *ngIf="itemAuditoria.processo">
                        <a [routerLink]="['/processo', itemAuditoria.processo?.id, 'view' ]" >{{itemAuditoria.processo?.titulo}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/item-auditoria', itemAuditoria.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/item-auditoria', itemAuditoria.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(itemAuditoria)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="itemAuditorias?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
