<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-produto-nao-conforme-heading" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.home.createOrEditLabel">Create or edit a Produto Nao Conforme</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.idUsuarioRegistro" for="field_idUsuarioRegistro">Id Usuario Registro</label>
                    <select class="form-control" id="field_idUsuarioRegistro" name="idUsuarioRegistro" formControlName="idUsuarioRegistro">
                      <option [ngValue]="null"></option>
                      <option [ngValue]="usuarioRegistroOption.id === editForm.get('idUsuarioRegistro')!.value?.id ? editForm.get('idUsuarioRegistro')!.value : usuarioRegistroOption.id" *ngFor="let usuarioRegistroOption of usuarios; trackBy: trackById">{{usuarioRegistroOption.firstName}} {{usuarioRegistroOption.lastName}}</option>
                  </select>
                    <div *ngIf="editForm.get('idUsuarioRegistro')!.invalid && (editForm.get('idUsuarioRegistro')!.dirty || editForm.get('idUsuarioRegistro')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idUsuarioRegistro')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.idUsuarioResponsavel" for="field_idUsuarioResponsavel">Id Usuario Responsavel</label>
                    <select class="form-control" id="field_idUsuarioResponsavel" name="idUsuarioResponsavel" formControlName="idUsuarioResponsavel">
                      <option [ngValue]="null"></option>
                      <option [ngValue]="usuarioResponsavelOption.id === editForm.get('idUsuarioResponsavel')!.value?.id ? editForm.get('idUsuarioResponsavel')!.value : usuarioResponsavelOption.id" *ngFor="let usuarioResponsavelOption of usuarios; trackBy: trackById">{{usuarioResponsavelOption.firstName}} {{usuarioResponsavelOption.lastName}}</option>
                  </select>
                    <div *ngIf="editForm.get('idUsuarioResponsavel')!.invalid && (editForm.get('idUsuarioResponsavel')!.dirty || editForm.get('idUsuarioResponsavel')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idUsuarioResponsavel')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idUsuarioResponsavel')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.titulo" for="field_titulo">Titulo</label>
                    <input type="text" class="form-control" name="titulo" id="field_titulo"
                           formControlName="titulo"/>
                    <div *ngIf="editForm.get('titulo')!.invalid && (editForm.get('titulo')!.dirty || editForm.get('titulo')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 1 }">
                        This field is required to be at least 1 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('titulo')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.descricao" for="field_descricao">Descricao</label>
                    <textarea class="form-control" name="descricao" id="field_descricao"
                              formControlName="descricao"></textarea>
                    <div *ngIf="editForm.get('descricao')!.invalid && (editForm.get('descricao')!.dirty || editForm.get('descricao')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('descricao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.procedente" for="field_procedente" [ngbTooltip]="'gatewayApp.sgqProdutoNaoConforme.help.procedente' | translate">Procedente</label>
                    <input type="checkbox" class="form-control" name="procedente" id="field_procedente"
                           formControlName="procedente"/>
                    <div *ngIf="editForm.get('procedente')!.invalid && (editForm.get('procedente')!.dirty || editForm.get('procedente')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('procedente')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.dataRegistro" for="field_dataRegistro">Data Registro</label>
                    <div class="d-flex">
                        <input id="field_dataRegistro" type="datetime-local" class="form-control" name="dataRegistro" formControlName="dataRegistro" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dataRegistro')!.invalid && (editForm.get('dataRegistro')!.dirty || editForm.get('dataRegistro')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dataRegistro')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dataRegistro')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.analiseFinal" for="field_analiseFinal" [ngbTooltip]="'gatewayApp.sgqProdutoNaoConforme.help.analiseFinal' | translate">Analise Final</label>
                    <textarea class="form-control" name="analiseFinal" id="field_analiseFinal"
                              formControlName="analiseFinal"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.statusSGQ" for="field_statusSGQ">Status SGQ</label>
                    <select class="form-control" name="statusSGQ" formControlName="statusSGQ" id="field_statusSGQ">
                        <option value="REGISTRADO">{{'gatewayApp.StatusSGQ.REGISTRADO' | translate}}</option>
                        <option value="PENDENTE">{{'gatewayApp.StatusSGQ.PENDENTE' | translate}}</option>
                        <option value="CONCLUIDO">{{'gatewayApp.StatusSGQ.CONCLUIDO' | translate}}</option>
                        <option value="SUSPENSO">{{'gatewayApp.StatusSGQ.SUSPENSO' | translate}}</option>
                        <option value="CANCELADO">{{'gatewayApp.StatusSGQ.CANCELADO' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('statusSGQ')!.invalid && (editForm.get('statusSGQ')!.dirty || editForm.get('statusSGQ')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('statusSGQ')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.acao" for="field_acao">Acao</label>
                    <select class="form-control" id="field_acao" name="acao" formControlName="acao">
                        <option *ngIf="!editForm.get('acao')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="acaoSGQOption.id === editForm.get('acao')!.value?.id ? editForm.get('acao')!.value : acaoSGQOption" *ngFor="let acaoSGQOption of acaos; trackBy: trackById">{{acaoSGQOption.titulo}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('acao')!.invalid && (editForm.get('acao')!.dirty || editForm.get('acao')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('acao')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.naoConformidade" for="field_naoConformidade">Nao Conformidade</label>
                    <select class="form-control" id="field_naoConformidade" name="naoConformidade" formControlName="naoConformidade">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="naoConformidadeOption.id === editForm.get('naoConformidade')!.value?.id ? editForm.get('naoConformidade')!.value : naoConformidadeOption" *ngFor="let naoConformidadeOption of naoconformidades; trackBy: trackById">{{naoConformidadeOption.titulo}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.produto" for="field_produto">Produto</label>
                    <select class="form-control" id="field_produto" name="produto" formControlName="produto">
                        <option *ngIf="!editForm.get('produto')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="produtoOption.id === editForm.get('produto')!.value?.id ? editForm.get('produto')!.value : produtoOption" *ngFor="let produtoOption of produtos; trackBy: trackById">{{produtoOption.nome}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('produto')!.invalid && (editForm.get('produto')!.dirty || editForm.get('produto')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('produto')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.resultadoAuditoria" for="field_resultadoAuditoria">Resultado Auditoria</label>
                    <select class="form-control" id="field_resultadoAuditoria" name="resultadoAuditoria" formControlName="resultadoAuditoria">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="resultadoAuditoriaOption.id === editForm.get('resultadoAuditoria')!.value?.id ? editForm.get('resultadoAuditoria')!.value : resultadoAuditoriaOption" *ngFor="let resultadoAuditoriaOption of resultadoauditorias; trackBy: trackById">{{resultadoAuditoriaOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.sgqProdutoNaoConforme.resultadoItemChecklist" for="field_resultadoItemChecklist">Resultado Item Checklist</label>
                    <select class="form-control" id="field_resultadoItemChecklist" name="resultadoItemChecklist" formControlName="resultadoItemChecklist">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="resultadoItemChecklistOption.id === editForm.get('resultadoItemChecklist')!.value?.id ? editForm.get('resultadoItemChecklist')!.value : resultadoItemChecklistOption" *ngFor="let resultadoItemChecklistOption of resultadoitemchecklists; trackBy: trackById">{{resultadoItemChecklistOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
